@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Noto+Sans+TC:wght@400;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Noto Sans TC", sans-serif;
}
h1 {
  font-weight: 900 !important;
}

/* swiper.js */
.swiper {
  width: 50%;
  height: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 640px) {
  .swiper {
    width: 100%;
    height: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0 !important;
}

/* loader */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: var(--color-th-orange);
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
  100% {
    inset: 0;
  }
}
